### Pyspark Handling Missing Values
- Dropping Columns
- Dropping Rows
- Various Parameter In Dropping functionalities
- Handling Missing values by Mean, MEdian And Mode

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [6]:
df_pyspark=spark.read.csv(r"E:\NIT Python (ALL Task)\PYSPARK & DATABRICKS\sample2.csv",header=True,inferSchema=True)

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [10]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|    jack|  31|        10| 30000|
|    alex|  30|         8| 25000|
|caroline|  29|         4| 20000|
|    paul|  24|         3| 20000|
|  sandra|  21|         1| 15000|
|casandra|  23|         2| 18000|
|     dan|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [12]:
##drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|NULL|      NULL| 40000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [14]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|    jack|  31|        10| 30000|
|    alex|  30|         8| 25000|
|caroline|  29|         4| 20000|
|    paul|  24|         3| 20000|
|  sandra|  21|         1| 15000|
|casandra|  23|         2| 18000|
|     dan|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [16]:
df_pyspark.na.drop().show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

In [18]:
### any==how
df_pyspark.na.drop(how="any").show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

In [20]:
##threshold
df_pyspark.na.drop(how="any",thresh=3).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
|    NULL| 34|        10| 38000|
+--------+---+----------+------+

In [22]:
##Subset
df_pyspark.na.drop(how="any",subset=['Age']).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
|    NULL| 34|        10| 38000|
|    NULL| 36|      NULL|  NULL|
+--------+---+----------+------+

In [24]:
### Filling the Missing Value
df_pyspark.na.fill('Missing Values',['Experience','age']).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|    jack|  31|        10| 30000|
|    alex|  30|         8| 25000|
|caroline|  29|         4| 20000|
|    paul|  24|         3| 20000|
|  sandra|  21|         1| 15000|
|casandra|  23|         2| 18000|
|     dan|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [26]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|    jack|  31|        10| 30000|
|    alex|  30|         8| 25000|
|caroline|  29|         4| 20000|
|    paul|  24|         3| 20000|
|  sandra|  21|         1| 15000|
|casandra|  23|         2| 18000|
|     dan|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [28]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [30]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [32]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|    jack|  31|        10| 30000|         31|                10|         30000|
|    alex|  30|         8| 25000|         30|                 8|         25000|
|caroline|  29|         4| 20000|         29|                 4|         20000|
|    paul|  24|         3| 20000|         24|                 3|         20000|
|  sandra|  21|         1| 15000|         21|                 1|         15000|
|casandra|  23|         2| 18000|         23|                 2|         18000|
|     dan|NULL|      NULL| 40000|         29|                 4|         40000|
|    NULL|  34|        10| 38000|         34|                10|         38000|
|    NULL|  36|      NULL|  NULL|         36|                 4|         20000|
+--------+----+----------+------+-----------+------------------+--------------+